<!-- <div class="flex-container"> -->
    <div >
      <h1 style="text-align:center; ">
         <img sizes="1px" src="../assets/images/citiheader.png" />
      </h1>
      </div> 
    <!-- <div style="margin-left: 281px;">
      <span>Welcome Netram Sahu</span><br>
      <span>{{title}}</span><br>
      <span > <a style="color:white" href="/">Logout</a></span>
    </div> -->
    <!-- </div> -->
    <div class="container">
      <div class="row">   
        <div class="col-md-8">
          <router-outlet></router-outlet>
    
        </div>
      </div>
    </div>
    
    <div style="text-align:center; color:white; width: 100%; padding: 6px; ">
      
    <footer>
      <div >
        <h1 style="text-align:center; ">
           <img sizes="1px" src="../assets/images/citifooter.png" />
        </h1>
        </div> 
        <!-- <strong>This site is copyright &copy; to LTI. 
      All rights are reserved here ..! by Netram Sahu</strong>-->
    </footer> 
    </div>
    